<div class="container">
    <div class="search-box text-center">
        <div class="col-sm-12 search form-group">
            <div class="col-sm-2 col-sm-offset-2">
                <select class="form-control col-sm-1 input-lg" ng-model="goodsFilter.category" ng-change="filterGoods()">
                    <option value="">全部</option>
                    <option value="粮油副食">粮油副食</option>
                    <option value="酒水饮料">酒水饮料</option>
                    <option value="家居日用">家居日用</option>
                </select>
            </div>
            <div class="col-sm-6">
                <input type="text" class="form-control input-lg" ng-model="goodsFilter.name" ng-change="filterGoods()">
            </div>
        </div>
    </div>
    <div class="content-box text-center">
        <div class="product pull-left" ng-repeat="item in goodsLists">
            <div class="left pull-left text-center">
                <img ng-src="/static/{{item.picture ? (item.picture) : 'assets/images/chart.jpg'}}" height="120px" width="120px">
                <div class="input-group">
                    <a class="input-group-addon" href="" ng-click="updateQuantity('minus',$index)" ng-show="true">
                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                    </a>
                    <input type="text" class="form-control" id="amount" ng-model="goodsLists[$index].quantity" ng-pattern="pattern">
                    <a class="input-group-addon" href="" ng-click="updateQuantity('plus',$index)">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
            <div class="right pull-rignt text-left">
                <b class="goods-name">{{item.name}}</b>
                <br>
            </div>
            <span class="price">￥{{item.price}}/{{item.unit}}</span>
            <button type="button" class="btn btn-sm btn-info" ng-click="addToCart(this)" ng-disabled="!goodsLists[$index].quantity">订购</button>
        </div>
    </div>
</div>
<hr>
<div class="navi-box text-center">
    <a href="" ng-click="pagination.pre()" class="pagination" ng-show="!pagination.tofont">
        <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    </a>
    <a href="" class="pagination" ng-repeat="i in pagination.pages" id="{{i}}" ng-click="pagination.to(i)" ng-class="pagination.currentPage==i ? 'current' : ''">{{i}}</a>
    <a href="" ng-click="pagination.next()" class="pagination" ng-show="!pagination.toend">
        <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
    </a>
</div>
